body {
	background: #fff;
}
.mui-content {
	background: #fff;
}
.mui-btn.mui-btn-block {
	padding: 6px 0;
	width: 89%;
	font-size: 16px;
	margin: 0 auto;
}
.mui-bar-nav.mui-bar .mui-icon {
	padding: 10px 13px;
	font-weight: bold;
}
.mui-bar .mui-title {
	left: 50px;
	font-size: 20px;
	color: #555;
	font-weight: bold;
}
.mui-bar-nav {
	box-shadow: 0 1px 0 #ccc;
}
input, select, textarea {
	font-size: 16px;
	color: #666;
}
